<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../Admin/Index" class="brand-link">
        <img src="~/login/img/logoNN.png" alt="AdminLTE Logo" class="brand-image img-square elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light" style="color: yellow; font-weight:bold">NgocNguyen Sport</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/admin/dist/img/ADMIN.jpg" class="brand-image img-square elevation-3" alt="User Image" style="opacity: .8">
            </div>
            <div class="info">
                <b style="color: aqua">ADMIN, @ViewBag.Username</b>
                <br />&ensp; &ensp;&ensp; &ensp;&ensp; &ensp;&ensp;<a href="~/Login/Logout"><i><u style="color: white">Thoát</u></i></a>

            </div>
        </div>

        <!-- SidebarSearch Form -->
        @*<div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-sidebar">
        <i class="fas fa-search fa-fw"></i>
        </button>
        </div>
        </div>
        </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-thin fa-users"></i>
                        <p>
                            NGƯỜI DÙNG
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/NguoiDung/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tài Khoản Người Dùng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/NguoiDung/ADDNguoiDung" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Đăng Ký Tài Khoản Mới</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list fa-thin"></i>
                        <p>
                            SẢN PHẨM
                            <i class="fas fa-angle-left right"></i>
                            @*                                    <span class="badge badge-info right">6</span>*@
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/SanPham/Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Danh Sách Sản Phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/SanPham/ADDSanPham" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thêm Sản Phẩm Mới</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/SanPham/ThungRac" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thùng Rác</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-light fa-ticket"></i>
                        <p>
                            VOUCHER
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/SanPham/KhoVoucher" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kho Voucher</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/SanPham/SanPham_ApDung_Voucher" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sản phẩm đã áp dụng</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-light fa-tag"></i>
                        <p>
                            HÓA ĐƠN
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/SanPham/HoaDon_ChuaXuLy" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hóa đơn chưa xử lý</p>
                                <span class="badge badge-info right">@ViewBag.CXL</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/SanPham/HoaDon_DaXuLy" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hóa đơn đang giao</p>
                                <span class="badge badge-info right">@ViewBag.DXL</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/SanPham/HoaDonDaGiao" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Giao hàng thành công</p>
                                <span class="badge badge-info right">@ViewBag.DG</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="~/SanPham/ThongBao" class="nav-link">
                        <i class="nav-icon fas fa-regular fa-bolt"></i>
                        <p>
                            THÔNG BÁO
                            <span class="badge badge-info right">@ViewBag.TB </span>
                        </p>
                    </a>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>